@{
  Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Manage your account</h1>

<div class="pane">
  <div class="pane__content">
    <partial name="_ManageNav" />
  </div>
  <div class="pane__aside">
    @RenderBody()
  </div>
</div>
