@{
  Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Manage your account</h1>

<div>
  <h4>Change your account settings</h4>
  <div>
    <div>
      <partial name="_ManageNav" />
    </div>
    <div>
      @RenderBody()
    </div>
  </div>
</div>

