@page
@model ChangePasswordModel
@{
  ViewData["Title"] = "Change password";
  ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />

<form class="form" id="change-password-form" method="post">
  <div class="form__validation-summary" asp-validation-summary="All"></div>
  <div class="form__group">
    <label asp-for="Input.OldPassword"></label>
    <input asp-for="Input.OldPassword" />
    <span asp-validation-for="Input.OldPassword"></span>
  </div>
  <div class="form__group">
    <label asp-for="Input.NewPassword"></label>
    <input asp-for="Input.NewPassword" />
    <span asp-validation-for="Input.NewPassword"></span>
  </div>
  <div class="form__group">
    <label asp-for="Input.ConfirmPassword"></label>
    <input asp-for="Input.ConfirmPassword" />
    <span asp-validation-for="Input.ConfirmPassword"></span>
  </div>
  <button type="submit">Update password</button>
</form>
