@page
@model ForgotPasswordModel
@{
  ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />
<form class="form" method="post">
  <div class="form__validation-summary" asp-validation-summary="All"></div>
  <div class="form__group">
    <label asp-for="Input.Email"></label>
    <input asp-for="Input.Email" />
    <span asp-validation-for="Input.Email"></span>
  </div>
  <button type="submit">Submit</button>
</form>

