@import '../shared/variables.less';

.footer {
  grid-area: footer;
  height: @footer-height;
  color: @footer-color;
  background-color: @footer-background;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
