<tw-list [rows]="users | filter : searchText">
  <tw-header>
    <h3 i18n>Users</h3>
    <div class="button__bar">
      <a class="button" [routerLink]="['.', 'new']">
        <tw-icon name="plus"></tw-icon>
      </a>
      <button type="button" (click)="reload()">
        <tw-icon name="refresh"></tw-icon>
      </button>
    </div>
    <input [(ngModel)]="searchText" placeholder="search text goes here">
  </tw-header>
  <ng-template let-user twTemplate="user-item">
    <div [routerLink]="['.', user?.id]"
         routerLinkActive="active"
         [attr.title]="user?.userName"
         class="list__item">
      <div>{{ user.userName }}</div>
      <div>{{ user.email }}</div>
    </div>
  </ng-template>
</tw-list>
