@page
@model tomware.Microsts.Web.Pages.IndexModel
@{
  ViewData["Title"] = "Home";
}

<h1>Hello from STS!</h1>
<p>
  <ul>
    <li>
      <a href="@Url.Page("./account/login")">Go to login</a>
    </li>
    <li>
      <a href="@Url.Page("./account/logout")">Go to logout</a>
    </li>
  </ul>
</p>